<%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

<div style="text-align: center; margin: 50px;">
  <h1 style="font-size: 60px;" class="russo-one-regular">Marvel Cinematic Universe</h1>
  <% if @random_character&.phrase.present? %>
    <p style="font-style: italic;">
      <%= @random_character.phrase %> — <%= @random_character.name %>
    </p>
  <% end %>
</div>




<div class="character-grid">
  <% @characters.each do |character| %>
    <div class="character-item">
      <% if character.profile_image.attached? %>
        <%= link_to character_path(character) do %>
          <div class="character">
            <%= image_tag url_for(character.profile_image), alt: character.name, size: "150x250" %>
            <div class="character-name">
              <%= character.name %>
            </div>
          </div>
        <% end %>
      <% else %>
        <%= link_to character.name, character_path(character) %>
      <% end %>
    </div>
  <% end %>
</div>



<div style="text-align: center; margin-top: 20px;">
  <div class="add-character-container">
    <%= link_to new_character_path do %>
      <%= image_tag 'plus.png', alt: 'Add Character', class: 'add-character-icon' %>
    <% end %>
  </div>
</div>
